<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">
			org.hibernate.dialect.MySQLDialect
		</property>
		<property name="hibernate.connection.driver_class">
			com.mysql.jdbc.Driver
		</property>

		<!-- Assume test is the database name -->
		<property name="hibernate.connection.url">
			jdbc:mysql://localhost:3306/test
		</property>
		<property name="hibernate.connection.username">
			root
		</property>
		<property name="hibernate.connection.password">
			mysql
		</property>
		<property name="hibernate.hbm2ddl.auto">create </property>
		<!-- <property name="hibernate.hbm2ddl.auto">create </property> -->
		<property name="hibernate.show_sql">true</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- List of XML mapping files -->
		<mapping resource="org/hibernate/tutorials/domain/Department.hbm.xml" />
		<mapping resource="org/hibernate/tutorials/domain/Person.hbm.xml" />
		<mapping resource="org/hibernate/tutorials/domain/PersonDetails.hbm.xml" />
		<mapping resource="org/hibernate/tutorials/domain/Laptop.hbm.xml" />

	</session-factory>
</hibernate-configuration>